# Gradle
.externalNativeBuild/
.gradle/
.idea/
LatinIME.iml
build/
local.properties
crashreporting.properties
keystore.properties
key.jks
java/res/raw/mozc.data
.cxx
java/src/org/futo/inputmethod/keyboard/internal/KeyboardTextsTable.java
# Development/testing scripts (local only)
adham_theme/
futo_themes/
generate_themes.py
make_theme.py
build.log
